header.top-bar.site-header
  .top-bar-left
    nav
      a(href="/" class="logo") <img src="https://media.istockphoto.com/vectors/newspaper-drawing-vector-id166054637?k=6&m=166054637&s=612x612&w=0&h=UR7jdgQ1zkYE9K8EgVmQgUZeHcIwRjqeCjDdSRHo-9A=" alt="Pink and Blue house" class="image" style="width:10%; border-radius: 50%;">
      a(href="/about.html") Fake News Quiz
      a(href="/contact.html") Contact
